---
import { ViewTransitions } from 'astro:transitions'

/**
 * SiteMeta Component
 *
 * @description Component to handle site metadata and essential head elements
 */
interface Props {
	/**
	 * The title of the page
	 */
	title: string
	/**
	 * The description of the page
	 */
	description: string
	/**
	 * The URL of the page
	 */
	url: string
	/**
	 * The image path for social sharing (should be relative to the root public directory)
	 */
	image: string
	/**
	 * The author of the page
	 */
	author?: string
}

const { title, description, url, image, author = '@formuleros_py' } = Astro.props

// Construct the absolute URL for the image
const siteUrl = new URL(Astro.site).origin
const absoluteImageUrl = `${siteUrl}${image.startsWith('/') ? '' : '/'}${image}`
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={absoluteImageUrl} />
<meta property="og:image:alt" content={`Imagen de vista previa para ${title}`} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content={description} />
<meta name="twitter:title" content={title} />
<meta name="twitter:image" content={absoluteImageUrl} />
<meta name="twitter:image:alt" content={`Imagen de vista previa para ${title}`} />
<meta name="twitter:site" content="@formuleros_py" />
<meta name="twitter:creator" content="@formuleros_py" />
<meta name="twitter:domain" content={new URL(Astro.site).hostname} />

<link rel="canonical" href={url} />

<ViewTransitions />
